---
layout: default
title: "404: Page not found"
permalink: 404.html
---

<div class="page">
  <h1 class="page-title">404: Page not found</h1>

  <h1>Nope. :(</h1>

  <p class="lead">There is something wrong with the link you used. You can go back to <a href="{{ site.baseurl }}/">the main page</a> and look for something there.</p>
</div>
