<footer class="footer">
  {% include social-icons.html %}
  <div class="post-date"><a href="{{ site.url }}/menu/about.html">{{ site.title }} by {{ site.author }}</a></div>
	<script type="text/javascript" src="/assets/js/mastodon.js"></script>
</footer>
