<header class="masthead">
	<div class="banner">
		<div class="logo">
			<img src="{{site.url}}/assets/img/extropian.svg">
		</div>
  <h3 class="masthead-title">
			<a href="{{ site.url }}/">{{ site.title }}</a>
			<small class="masthead-subtitle">{{ site.description }}</small>
  </h3>
	</div>
	{% include menu.html %}
</header>
