<div class="menu">
  <nav class="menu-content">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.url }}/{{ item.path }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</div>
