{% for item in site.data.settings.brand %}
  {% assign first_char = item.link | slice: 0 %}
  {% if first_char == '/' %}
    <a href="{{ site.baseurl }}{{ item.link }}"><i class="fab fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% else %}
    <a href="{{ item.link }}" target="_blank"><i class="fab fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endif %}
{% endfor %}
{% for item in site.data.settings.solid %}
  {% assign first_char = item.link | slice: 0 %}
  {% if first_char == '/' %}
    <a href="{{ site.baseurl }}{{ item.link }}"><i class="fas fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% else %}
    <a href="{{ item.link }}" target="_blank"><i class="fas fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endif %}
{% endfor %}
