<div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
  <div class="sharing-icons">
			<a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}"><i class="fab fa-reddit" aria-hidden="true"></i></a>
			<a onclick="mastodonButton('{{ page.title }}', '{{ site.url }}{{ page.url }}')"><i class="fab fa-mastodon" aria-hidden="true">
				<form id="mastodon-instance" onsubmit="mastodonForm('{{ page.title }}', '{{ site.url }}{{ page.url }}')">
					<input type="text" class="social-form" id="mastodon-instance-address" placeholder="Your instance...">
				</form>
			</i></a>
  </div>
</div>
